:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.celeb{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.celeb > input{
  margin-bottom: 30px;
}
.stage{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}
.roller-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;



}
.roller{
  max-height: 200px;
  min-height: 200px;
  overflow-y: scroll;
  align-self: flex-start;
  cursor: pointer;
  width: 100%;
  min-width: 300px;

}
.container{
  padding: 2%;
  margin: 2%;
}
.selected{
  background-color: grey;
  color: white;
}
.size{
  width: 40px;
  margin-right: 10px;
  
}
.search{
  width: 200px;
}
.row{
  text-align: left;
}

.celeb-img{
  transition: all 1s;
  
}

svg{
  height: 100%;
}

.celeb-inner{
  transition: opacity 2s;

}

.card{
  background-color: whitesmoke;
  color: black;
}